$map1: (
 	height:50px,
 	width:300px
);
$height: map-get($map1,height);
@debug $height;
@debug map-get($map1,width);

$map2: map-remove($map1,height);
@debug $map1;
@debug $map2;
$map3:(chicken:30kg, dog:40kg, cat:20kg);
@debug map-merge($map1,$map3);

@debug map-values($map1);